:root {
    --bg-color: #FFF;
    --font-color: #333;
    --font-light-color: #CCC;
    --base-color: #BAE1E8;;
    --sub-color: #A0AEBC;
    --accent-color: #A0AEBC;
}
[data-theme="pink"] {
    --bg-color: #FFF;
    --font-color: #8D6E63;
    --font-light-color: #D2C5BE;
    --base-color: #F7C3BF;
    --sub-color: #F9D69E;
    --accent-color: #BACBCF;
}
[data-theme="yellow"] {
    --bg-color: #FFF;
    --font-color: #333;
    --font-light-color: #CCC;
    --base-color: #ffcc00;
    --sub-color: #A0AEBC;
    --accent-color: #A0AEBC;
}
[data-theme="blue"] {
    --bg-color: #FFF;
    --font-color: #333;
    --font-light-color: #CCC;
    --base-color: #001D42;
    --sub-color: #A0AEBC;
    --accent-color: #A0AEBC;
}



* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--font-color);
}
ul {
    padding: 0;
    list-style: none;
}

.material-symbols-outlined {
    font-size: 20px; 
    display: inline-block;
    vertical-align: middle;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.overlay.show {
    opacity: 1;
    visibility: visible;
}

/* ヘッダー */
#hamb_btn {
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 100;
    cursor: pointer;
}
.hamb_line {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: var(--font-color);
    transition: 0.3s;
}
.hamb_line:nth-child(1) {
    top: 5px;;
}
.hamb_line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.hamb_line:nth-child(3) {
    bottom: 5px;;
}
#hamb_btn.active .hamb_line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
#hamb_btn.active .hamb_line:nth-child(2) {
    opacity: 0;
}
#hamb_btn.active .hamb_line:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
.acc_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    height: 100vh;
    width: 300px;
    padding: 60px 30px;
    z-index: 95;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.acc_wrapper.open {
    transform: translateX(0);
}
.acc_wrapper li {
    border-top: 1px solid var(--font-light-color);
}
.acc_wrapper li:first-child {
    border-top: none;
}
.acc_wrapper li a {
    display: block;
    padding: 15px 0;
    color: var(--font-color);
    text-decoration: none;
}

/* チャット */
.chat_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: min(700px, 100% - 20px);
    margin: 0 auto;
}
.chat_aicmt {
    align-self: center;
    width: 100%;
    text-align: left;
    padding: 20px;
}
.chat_mycmt {
    align-self: flex-end;
    width: fit-content;
    max-width: 80%;
    text-align: left;
    background-color: var(--base-color);
    color: var(--bg-color);
    padding: 20px;
    border-radius: 30px 30px 0 30px;
}
.chat_input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid var(--base-color);
    border-radius: 30px;
    color: var(--font-color);
    font-size: 1.08em;
    resize: none;
    overflow-y: auto;
    display: block;
    line-height: 1.4;
    font-family: inherit;
}
.chat_input:focus {
    outline: none;
}
.chat_input::placeholder {
    color: var(--base-color);
}

/* ログイン画面 */
.auth_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: calc(100vh - 50px);
}
.auth_left {
    display: none;
}
.auth_tab {
    flex: 1;
    text-align: center;
    border-bottom: 2px solid var(--font-light-color);
    color: var(--font-light-color);
    padding-bottom: 12px;
    cursor: pointer;
    transition: 1s;
}
.auth_tab:not(.active):hover {
    border-bottom: 2px solid var(--sub-color);
    color: var(--sub-color);
}
.auth_tab.active {
    border-bottom: 2px solid var(--font-color);
    color: var(--font-color);
}
.auth_form {
    display: none;
}
.auth_form.active {
    display: block;
}
.auth_form label {
    font-size: 0.9em;
    line-height: 1.8;
}
.auth_form input {
    height: 40px;
    padding: 15px 20px;
    border: 1px solid var(--font-light-color);
    color: var(--font-color);
    font-size: 1.08em;
}
.auth_form input:focus {
    outline: 1.5px solid var(--font-color);
}
.auth_form input::placeholder {
    color: var(--font-light-color);
}
.incomplete input:invalid {
    background-color: #FFF0F0;
    border: 1px solid #F00;
}
.incomplete input:focus {
    outline: 1.5px solid #F00;
}
.error_msg {
    display: none;
    color: #F00;
    font-size: 0.8em;
    margin-top: 5px;
}
.error_msg:not(:empty) {
    display: block;
}
form button {
    background-color: var(--base-color);
    color: var(--bg-color);
    border: none;
    height: 50px;
    margin-top: 0.9em;
    font-size: 1.08em;
    font-weight: bold;
    transition: 1s ease-in-out;
}
form button:hover {
    background-color: var(--sub-color);
}

/* 設定ページ */
.wrapper3 {
    display: grid;
    grid-template-columns: 1fr;
}
.sidebar {
    display: none;
}
.color-box {
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    border: 3px solid transparent;
    border-radius: 8px;
}
.color-box.active {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

@media (min-width: 700px) {
    .auth_wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .auth_left {
        background-color: var(--base-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper3 {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
    .sidebar {
        display: block;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 10;
    }
}